@font-face {
  font-family: 'Liberation Mono';
  src: url('LiberationMono-Bold.eot'); /* IE9 Compat Modes */
  src: url('LiberationMono-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('LiberationMono-Bold.woff') format('woff'), /* Modern Browsers */
       url('LiberationMono-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('LiberationMono-Bold.svg#eafb1dec33462d156ec5a4fe50848078') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Liberation Mono';
  src: url('LiberationMono-Regular.eot'); /* IE9 Compat Modes */
  src: url('LiberationMono-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('LiberationMono-Regular.woff') format('woff'), /* Modern Browsers */
       url('LiberationMono-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('LiberationMono-Regular.svg#266da6c5e06961a544851d061644d04e') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Liberation Sans';
  src: url('LiberationSans-Bold.eot'); /* IE9 Compat Modes */
  src: url('LiberationSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('LiberationSans-Bold.woff') format('woff'), /* Modern Browsers */
       url('LiberationSans-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('LiberationSans-Bold.svg#6076089016c04c42101dcb450d28d0fb') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Liberation Sans';
  src: url('LiberationSans-Regular.eot'); /* IE9 Compat Modes */
  src: url('LiberationSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('LiberationSans-Regular.woff') format('woff'), /* Modern Browsers */
       url('LiberationSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('LiberationSans-Regular.svg#0bf9bf9589928b88616aa22aeb5ac722') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Liberation Sans Narrow';
  src: url('LiberationSansNarrow-Bold.eot'); /* IE9 Compat Modes */
  src: url('LiberationSansNarrow-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('LiberationSansNarrow-Bold.woff') format('woff'), /* Modern Browsers */
       url('LiberationSansNarrow-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('LiberationSansNarrow-Bold.svg#6fa2b570a66d526e680ed2627c54bb5c') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Liberation Sans Narrow';
  src: url('LiberationSansNarrow-Regular.eot'); /* IE9 Compat Modes */
  src: url('LiberationSansNarrow-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('LiberationSansNarrow-Regular.woff') format('woff'), /* Modern Browsers */
       url('LiberationSansNarrow-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('LiberationSansNarrow-Regular.svg#c719905fccd11e4da4de4ba2fde5c98c') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Liberation Serif';
  src: url('LiberationSerif-Italic.eot'); /* IE9 Compat Modes */
  src: url('LiberationSerif-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('LiberationSerif-Italic.woff') format('woff'), /* Modern Browsers */
       url('LiberationSerif-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('LiberationSerif-Italic.svg#23f7a6c29ea425a96bc10287042f38c2') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'Liberation Serif';
  src: url('LiberationSerif-Regular.eot'); /* IE9 Compat Modes */
  src: url('LiberationSerif-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('LiberationSerif-Regular.woff') format('woff'), /* Modern Browsers */
       url('LiberationSerif-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('LiberationSerif-Regular.svg#d32c274bbe7716aca9959e922f550304') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

