html,body {
	height: 100%;
	width: 100%;
}
body {
	position: relative;
	margin: 0;
	padding: 0;
	background: #191919;
	overflow: hidden;
}
.logo{
	position:absolute;
	top:60px;
	left:60px;
	z-index: 1000;
	width:auto;
	height: 60px;
	cursor: pointer;
	mix-blend-mode: difference;
	&#black{
		display: none;
	}
}
nav{
	position:absolute;
	z-index: 1000;
	top:60px;
	right:60px;
		mix-blend-mode: difference;
	a{
		color:white;
		text-decoration: none;
		text-transform: uppercase;
		font-family:$sans;
		font-weight:bold;
		line-height: 60px;
		font-size: 0.6rem;
		letter-spacing: 0.1rem;
		margin-left: 15px;	
	}
}
#mute{
	position:absolute;
	bottom:60px;
	left:60px;
	color:white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 10px;
	z-index: 1000;
	letter-spacing: 2px;
	writing-mode: vertical-lr;
	cursor: pointer;
	display: none;
	@include transform(rotate(180deg));
	mix-blend-mode: difference;
}
section{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	display: none;
	background: white;
	mix-blend-mode: difference;
	z-index: 100;
	&.active{
		display: block;
	}
}
.interior{
	#bg{
		opacity: 0.2;
	}
}
.audio{
	#mute{
		display: block;
	}
}
.muted{
	#mute{
		text-decoration: line-through;
	}
}
.no-mix-blend-mode{
	section{background: rgba(255,255,255,0.8);}
	.interior{
		#bg{
			opacity: 1;
		}
		nav{
			a{
				color: black;
			}
		}
		#mute{
			color:black;
		}
		.logo{
			&#black{
				display: block;
			}
			&#white{
				display: none;
			}
			
		}	

	}
}
@include breakpoint(mobile){
	.logo{
		left:30px;
		top:30px;
	}
	nav{
		top:30px;
		right:30px;
	}
}