html,body {
	height: 100%;
	width: 100%;
}
body {
	position: relative;
	margin: 0;
	padding: 0;
	background: #191919;
	overflow: hidden;
}
#logo{
	position:absolute;
	top:60px;
	left:60px;
	z-index: 100;
	width:auto;
	height: 60px;
	cursor: pointer;
	mix-blend-mode:difference;
}
nav{
	position:absolute;
	top:60px;
	right:60px;
	a{
		color:white;
		text-decoration: none;
		text-transform: uppercase;
		font-family:$narrow;
		font-weight:bold;
		line-height: 60px;
		font-size: 10px;
		letter-spacing: 2px;
		margin-left: 15px;		
	}
}
#mute{
	position:absolute;
	bottom:60px;
	left:60px;
	color:white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 2px;
	writing-mode: vertical-lr;
	cursor: pointer;
	display: none;
	@include transform(rotate(180deg));
}
.audio{
	#mute{
		display: block;
	}
}
.muted{
	#mute{
		text-decoration: line-through;
	}
}
@include breakpoint(mobile){
	#logo{
		left:30px;
		top:30px;
	}
	nav{
		top:30px;
		right:30px;
	}
}